/*
 Redistribution-safe replacement for the original Motiva Sans webfont stylesheet.
 This file intentionally avoids bundling or referencing any proprietary remote font
 assets. The `Motiva Sans` family name is retained as a local alias so existing
 stylesheets can continue to work without loading non-redistributable fonts.
 */

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI'), local('Helvetica Neue'), local('Helvetica'), local('Arial');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI Light'), local('Helvetica Neue Light'), local('Helvetica'), local('Arial');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI Light'), local('Helvetica Neue Light'), local('Helvetica'), local('Arial');
	font-weight: 200; /* Ultra-Light / Thin */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI Semibold'), local('Helvetica Neue Medium'), local('Helvetica Neue'), local('Arial');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI Bold'), local('Helvetica Neue Bold'), local('Helvetica Bold'), local('Arial Bold');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI Italic'), local('Helvetica Neue Italic'), local('Helvetica Oblique'), local('Arial Italic');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI Light Italic'), local('Helvetica Neue Light Italic'), local('Helvetica Oblique'), local('Arial Italic');
	font-weight: 300; /* Light */
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI Bold Italic'), local('Helvetica Neue Bold Italic'), local('Helvetica Bold Oblique'), local('Arial Bold Italic');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Motiva Sans';
	src: local('Segoe UI Black'), local('Helvetica Neue Bold'), local('Helvetica Bold'), local('Arial Bold');
	font-weight: 900; /* Black */
	font-style: normal;
}

